table {
    border: 1px solid black;
    border-collapse: separate;
    border-spacing: 50px 0;
    padding: 10px;
}

td {
    padding: 20px 0;
    white-space: nowrap;
}

.left-div {
    float: left;
}

.right-div {
    margin-right: 200px;
    float: right;
    padding-top: 1px;
}

.clear {
    clear: both;
}

#invoice-no {
    margin-top: 20px;
}